{% extends "base.html" %}

{% block content %}
    <body>
        <div class = "Cities_List">
            <ul>
            {% for city in top_cities %}
                <li>{{city}}</li>
            {% endfor %}
            </ul>
        </div>
        <div class = "inputs">
            <forms action = "home.html" method = "post">
                {{form.hidden_tag()}}
                <P>{{form.city_name.label}}<br></P> 
                <p>{{form.city_name(size=32)}}<br></p>
                <p>{{form.city_rank.label}}<br></p>
                <p>{{form.city_rank}}<br></p>    
                <p>{{form.is_visited.label}}</p>       
                <p>{{form.is_visited}}</p>
                <P>{{form.comments.label}}<br>{{form.comments(rows='10', cols= '50')}}<br></P>
                <p>{{form.submit}}</p>       
        </forms>
        </div>
    </body> 
{% endblock %}